:root {
  --white: #ffffff;
  --header-fon-color: #2f303a;
  --blue: #2196f3;
  --black: #212121;
  --pic-title-after: #757575;
  --footer-link: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
/*HEADER*/

.logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--blue);
}

.logo-span {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black);
}

.logo-span-white {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white);
}

.contacts-list {
  list-style-type: none;
}

.contacts-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--pic-title-after);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--blue);
}

.nav-list {
  list-style-type: none;
}

.nav-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;
  color: var(--black);
}

.nav-link-current {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;
  color: var(--blue);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--blue);
  cursor: pointer;
}

/*MAIN*/
.motto {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  background-color: var(--header-fon-color);
  color: var(--white);
}

.motto-button {
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--blue);
}

.motto-button:hover,
.motto-button:focus {
  cursor: pointer;
}

.feature-list {
  list-style-type: none;
}

.feature-item {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.03em;
  list-style-type: none;
  text-transform: uppercase;
  color: var(--black);
}

.feature-desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--pic-title-after);
}

.task-list {
  list-style-type: none;
}

.task-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--black);
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--black);
}

.team-list {
  list-style-type: none;
}

.team-member {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--black);
}

.team-role {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--pic-title-after);
}

/*PORTFOLIO*/
.direction-list {
  list-style-type: none;
}

.direction-filter-button {
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.direction-filter-button:focus,
.direction-filter-button:hover {
  cursor: pointer;
  background: var(--blue);
  color: var(--white);
}

.pic-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black);
}

.pic-title-after {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--pic-title-after);
}

/*------ FOOTER-------*/
.footer {
  background: var(--header-fon-color);
}

.contacts-footer-list {
  list-style-type: none;
}

.nav-link-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
}

.nav-link-footer:hover,
.nav-link-footer:focus {
  color: var(--blue);
}

.contacts-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link);
}

.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--blue);
}
