:root {
  --header-text-color: #ffffff;
  --header-fon-color: #2f303a;
  --button-color: #c51e1e;
  --first-button-color: #2196f3;
  --font-text-color:#212121;
  --pic-title-after: #757575;

}

body {
  font-family:"Roboto", sans-serif;
}

a {
    text-decoration: none;
   }
/*----MAIN PAGE----*/
/*-----HEADER------*/

.logo {
font-family: "Raleway";
font-size: 26px;
font-weight: bold;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--first-button-color);
}

.current 
{
  color:var(--first-button-color);
  list-style-type: none;
}

.span-span {
  color: var(--font-text-color);
}

.header-link {
 font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
list-style-type: none;
color: var(--first-button-color);
}

.header-linkf {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;
  color: var(--font-text-color);
}

.header-link:hover,
.header-link:focus {
 color: var(--font-text-color);
 }

.header-linc-tel {
 font-size: 14px;
 line-height: 1,7;
 letter-spacing: 0.03em;
 list-style-type: none;
 color:var(--pic-title-after);  
}

.hero-item-li {
  list-style-type: none;
}

.task-item {
  list-style-type: none;
}

.header-item {
  list-style-type: none;
}

.button-slogan:hover,
.button-slogan:focus {
 color: var(--button-color);
 cursor: pointer;
}



.slogan {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color:
}

/*----- HERO------*/
.hero-item {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.11;
  letter-spacing: 0.03em;
  list-style-type: none;
  color: var(--font-text-color);
}

.hero-text {
font-size: 14px;
font-weight: normal;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--pic-title-after);
}

.tasks {
font-size: 36px;
font-weight: bold;
line-height: 1.16;
letter-spacing: 0.03em;
var(--font-text-color);
}

.task {
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.03em;
var(--font-text-color);
}

.team {
font-size: 36px;
font-weight: bold;
line-height: 1.16;
letter-spacing: 0.03em;
color: var(--font-text-color);
}

.team-item {
font-size: 16px;
font-weight: 500;
line-height: 1.18;
letter-spacing: 0.03em;
list-style-type: none;
color: var(--font-text-color);
}

.team-title-after {
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--pic-title-after);
}





/*---PORTFOLIO-----*/

/*-----HEADER-----*/

.header-linkff {
 font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--first-button-color);
}

.header-linkk {
font-size: 14px;
 line-height: 1,7;
 letter-spacing: 0.03em;
 color: var(--font-text-color);  
}

.button-itemm:hover,
.button-itemm:focus {
  color: var(--header-fon-color);
  cursor: pointer;
}

.button-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.61;
  letter-spacing: 0.03em;
  list-style-type: none;
  color: var(--font-text-color);
}

/*----HERO----*/
.pic-item {
  font-size: 18px;
  font-weight: bold;
  line-height: 2.00;
  letter-spacing: 0.06em;
  list-style-type: none;
  color: var(--font-text-color);
}

.pic-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2.00;
  letter-spacing: 0.06em;
 
  color: #212121;
}

.pic-title-after {
 font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--pic-title-after);
}

.footer-link-tel {
 font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--header-text-color); 
}

.footer-link {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--header-text-color);
}

/*------ FOOTER-------*/

.logo {
font-size: 26px;
font-weight: bold;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--first-button-color);
}

.navigation {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--header-text-color);
}

.footer-link {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--header-text-color);
}

.footer-link-tel {
 font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--header-text-color); 
}
